<div id="main">
  <h1>Éditer</h1>
  <div id="alert-success" style="display: none" class="alert alert-success">
    <strong>Bravo !</strong> La ressource a bien été mise à jour.
  </div>
  <div id="alert-error" style="display: none" class="alert alert-error">
    <strong>Oups !</strong> Une erreur s'est produite.
  </div>
  <div id="user"></div>
</div>
<h2>Dernière position</h2>
<div class="google-map" id="map"></div>

<script id="edit-template" type="text/x-template">
  <form id="user-form" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="firstname">Prénom</label>
      <div class="controls">
        <input type="text" id="firstname" value="<%= user.firstname %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="lastname">Nom</label>
      <div class="controls">
        <input type="text" id="lastname" value="<%= user.lastname %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" value="<%= user.email %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="age">Âge</label>
      <div class="controls">
        <input type="text" id="age" value="<%= user.age %>" class="input-mini">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="isAdmin">Admin</label>
      <div class="controls">
        <input type="checkbox" id="isAdmin" <% if(user.isAdmin){ %>checked="checked"<% } %> />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Mot de passe</label>
      <div class="controls">
        <input type="password" id="password" value="<%= user.password %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password2">Confirmer le mot de passe</label>
      <div class="controls">
        <input type="password" id="password2" value="<%= user.password %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="gender">Genre</label>
      <div class="controls">
        <select id="gender">
          <option value="0"<% if(user.gender === 0){ %> selected="selected"<% } %>>Femme</option>
          <option value="1"<% if(user.gender === 1){ %> selected="selected"<% } %>>Homme</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sauvegarder</button>
      </div>
    </div>
  </form>
</script>