<div id="main">
  <h1>Liste des utilisateurs</h1>
  <div id="users-list"></div>
</div>

<script id="list-template" type="text/x-template">
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>E-mail</th>
      <th>Genre</th>
      <th>Âge</th>
      <th>Actions</th>
    </tr>
    <% _.map(users, function (user) { %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= user.gender === 0 ? 'Femme' : 'Homme' %></td>
      <td><%= user.age %></td>
      <td>
        <div class="btn-group">
          <button data-toggle="dropdown" class="btn dropdown-toggle">
            Action <i class="caret"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#/users/<%= user.id %>/edit">Éditer</a></li>
            <li><a href="#/users/<%= user.id %>">Supprimer</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <% }); %>
  </table>
</script>