<div id="main">
  <h1>Liste des utilisateurs</h1>
  <div id="interests-list"></div>
</div>

<script id="list-template" type="text/x-template">
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Label</th>
      <th>Actions</th>
    </tr>
    <% _.map(interests, function (interest) { %>
    <tr>
      <td><%= interest.id %></td>
      <td><%= interest.tag %></td>
      <td>
        <button data-id="<%= interest.id %>" class="btn delete">Supprimer</button>
      </td>
    </tr>
    <% }); %>
  </table>
</script>