<div id="alert-success" style="display: none" class="alert alert-success">
  <strong>Bravo !</strong> La ressource a bien été créée. <a href="#interests">Retourner à la liste</a>.
</div>
<div id="alert-error" style="display: none" class="alert alert-error">
  <strong>Oups !</strong> Une erreur s'est produite.
</div>
<div id="main">
  <h1>Ajouter un intérêt</h1>

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="tag">Label</label>
      <div class="controls">
        <input type="text" id="tag" name="tag" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-primary" type="submit" value="Créer" />
      </div>
    </div>
  </form>
</div>