<div id="main">
  <div id="announcement">
    <img src="res/styles/default/img/ajax-loader.gif" alt="loading" /> Loading...
  </div>
  <div class="google-map" id="map"></div>
</div>

<script id="edit-template" type="text/x-template">
  <h1>Éditer une annonce</h1>
  <p><strong>Créateur :</strong> <%= announcement.creator.firstname %> <%= announcement.creator.lastname %></p>

  <form class="form-horizontal" action="" method="">
    <div class="control-group">
      <label class="control-label" for="createdDate">Date de création</label>
      <div class="controls">
        <input type="text" id="created_day" value="<%= announcement.createdDate.day %>" class="input-mini">/
        <input type="text" id="created_month" value="<%= announcement.createdDate.month %>" class="input-mini">/
        <input type="text" id="created_year" value="<%= announcement.createdDate.year %>" class="input-mini"> à
        <input type="text" id="created_hours" value="<%= announcement.createdDate.hours %>" class="input-mini">:
        <input type="text" id="created_minutes" value="<%= announcement.createdDate.minutes %>" class="input-mini">:
        <input type="text" id="created_seconds" value="<%= announcement.createdDate.seconds %>" class="input-mini">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="disponibilityDate">Date de disponibilité</label>
      <div class="controls">
        <input type="text" id="disponibility_day" value="<%= announcement.disponibilityDate.day %>" class="input-mini">/
        <input type="text" id="disponibility_month" value="<%= announcement.disponibilityDate.month %>" class="input-mini">/
        <input type="text" id="disponibility_year" value="<%= announcement.disponibilityDate.year %>" class="input-mini"> à
        <input type="text" id="disponibility_hours" value="<%= announcement.disponibilityDate.hours %>" class="input-mini">:
        <input type="text" id="disponibility_minutes" value="<%= announcement.disponibilityDate.minutes %>" class="input-mini">:
        <input type="text" id="disponibility_seconds" value="<%= announcement.disponibilityDate.seconds %>" class="input-mini">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="isOpen">Activée</label>
      <div class="controls">
        <input type="checkbox" id="isOpen" <% if(announcement.isOpen){ %>checked="checked"<% } %> />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="message">Message</label>
      <div class="controls">
        <textarea id="message"><%= announcement.message %></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="latitude">Latitude</label>
      <div class="controls">
        <input type="text" id="latitude" value="<%= announcement.latitude %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="longitude">Longitude</label>
      <div class="controls">
        <input type="text" id="longitude" value="<%= announcement.longitude %>">
        <button class="btn update-announcement">Mettre à jour la position</button>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary" value="Enregistrer">
      </div>
    </div>
  </form>
</script>